
<table class="table">
  <thead>
    <tr>
      <th scope="col">Menu</th>
      <th scope="col">M Btns</th>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Option 1</th>
      <th scope="col">Option 2</th>
      <th scope="col">Option 3</th>
      <th scope="col">Option 4</th>
    </tr>
  </thead>
  <tbody>

    {{#each this.data.rows as |data row|}}
    <tr>
      <td><button {{on 'click' this.showPopper}} type="button" id="popper-button" class="btn"><i class="fa-solid fa-ellipsis-vertical"></i></button></td>
      <div id="tooltip" class="d-none" role="tooltip">
        My tooltip
        <div id="arrow" data-popper-arrow></div>
      </div>
      <td class="d-flex flex-column">
        <button class="btn btn-primary" {{on 'click' this.addRowAbove}} data-row="{{row}}" type="button"> Add row above </button>
        <button class="btn btn-danger" {{on 'click' this.deleteRow}} data-row="{{row}}" type="button"> Delete row </button>
        <button class="btn btn-primary" {{on 'click' this.addRowBelow}} data-row="{{row}}" type="button"> Add row below </button>

      </td>
      <th scope="row">{{row}}</th>
      {{#each-in data as |key cell|}}
        <td>
          <div>
            <Input {{on 'keydown' this.cellKeyPress}} {{on 'blur' this.cellBlur}} data-row="{{row}}" data-col="{{key}}" @value={{cell.data}} @type="textarea"></Input>
            <Input
              id="cell-checkbox"
              @type="checkbox"
              @checked={{cell.checked}}
              data-row="{{row}}" data-col="{{key}}"
              {{on "input" this.cellCheckBox}}
            />
          </div>
          </td>
      {{/each-in}}
    </tr>
    {{/each}}

  </tbody>
</table>
{{this.onLoad}}
{{yield}}

